@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff7f50;
    --secondary-color: #54043e;
    --tertiary-color: #1f497d;
    --background-color: #f1d8d0;
}

body {
    font-family: 'Oswald', sans-serif;
}

.primary-card,
.secondary-card {
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.primary-card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.secondary-card {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
